@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>
<h3>Information of our restaurant</h3>
<address>
    836 Markham Rd, <br />
    Scarborough, ON M1H 2Y2 <br />
    <abbr title="Phone">Phone:</abbr>
    647-352-1255
</address>
<h1><img alt="Address.png" src="~/Assets/Map.png" height="400" width="700" /></h1>
<address>
    <strong>Customer Service:</strong>   <a href="MaResturant@Gmail.com">"MaRestaurant@gmail.com"</a><br />
    <strong>Take out :</strong> <a href="mailto:MaRestaurant@example.com">MaTakeOut@gmail.com</a>
</address>