@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Appetizer</h1>
    <img alt="Appetizer" height="200" src="~/Assets/Appetizers.jpg" style="float: right" width="400">
    <p>Appetizer is a primarily a small dish of food or a drink taken before a meal or the main course of a meal to stimulate one's appetite.Some appetizers are served cold, others hot.Appetizers may be served at the dinner table as a part of the meal, or they may be served before seating. Formerly, appetizers were also served between courses.</p>
    <p><a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Appetizer")" role="button">Learn more</a></p>
</div>

<div class="jumbotron">
    <h1>MainCourse</h1>
    <img alt="MainCourse" height="200" src="~/Assets/MainCourse.jpg" style="float: right" width="400">
    <p>The main course is the featured or primary dish in a meal consisting of several The main dish is usually the heaviest, heartiest, and most complex or substantial dish on a menu.</p>
    <p><a class="btn btn-primary btn-lg" href="@Url.Action("Index", "MainCourse")" role="button">Learn more</a></p>
</div>

<div class="jumbotron">
    <h1>Desserts</h1>
    <img alt="Desserts" height="200" src="~/Assets/desserts.jpg" style="float: right" width="400">
    <p>Dessert is a course that concludes a main meal. The course usually consists of sweet foods and beverages, such as dessert wine or liqueurs, but may include coffee, cheeses, nuts, or other savory items.</p>
    <p><a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Desserts")" role="button">Learn more</a></p>
</div>

<div class="jumbotron">
    <h1>Drinks</h1>
    <img alt="Drinks" height="200" src="~/Assets/Drinks.jpg" style="float: right" width="400">
    <p>A drink or beverage is a liquid intended for human consumption. In addition to their basic function of satisfying thirst, drinks play important roles in human culture. Common types of drinks include plain water, milk, juices, coffee, tea, and soft drinks.</p>
    <p><a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Drinks")" role="button">Learn more</a></p>
</div>

